body {
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  font-size: 130%;
}

img {
  max-width: 600px;
}

#how-to-cont {
  display: flex;
}

#how-to-cont ol {
  font-size: 34px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
}
