* {
  box-sizing: border-box;
}

#container * {
  font-family: "Courier New", Courier, monospace !important;
  transition: 0.2s;
}

#container {
  width: 32px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  left: 10px;
  bottom: 5px;
  transition: 0.2s;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid black;
}

#container:before {
  content: "\00BB";
  position: absolute;
  left: 11px;
  bottom: 1px;
  font-size: 20px;
}

#container:hover {
  width: 250px;
  height: 320px;
}
#wfForm {
  display: none;
  height: 100%;
  align-items: center;
  justify-content: start;
  gap: 5px;
  flex-direction: column;
  padding-top: 5px;
}

#container:hover #wfForm {
  display: flex;
}

#container:hover:before {
  content: "\00AB";
}

#container label,
select {
  cursor: pointer;
}

#container label {
  min-height: 34px;
  width: auto;
  background-color: transparent;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#container label:hover {
  background-color: #d1d4dc;
}

#titleInput:hover,
#nameInput:hover,
#marketInputr,
#submitButton:hover,
#marketInputCh:hover,
#marketInputBe:hover {
  background-color: #d1d4dc;
  cursor: pointer;
}

#submitButton {
  background-color: #fff;
  border: none;
  border-radius: 3px;
}
#radioContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  gap: 5px;
  cursor: pointer;
}

#nameInput,
#titleInput,
#marketInput {
  background-color: transparent;
  border: none;
  padding-left: 2px;
}

#radioContainer label,
#nameInput,
#titleInput {
  padding-left: 7px;
  padding-right: 2px;
}

#radioContainer input {
  width: 10px;
  height: 10px;
}
#marketInputCh,
#marketInputBe {
  display: none;
}

#nameInput:focus,
#titleInput:focus,
#marketInput:focus {
  outline: none !important;
}

.uc1 {
  min-height: 34px;
  width: 237px;
  background-color: transparent;
  border-radius: 3px;
}
#marketInput:hover {
  background-color: #d1d4dc;
}

.inputsToGap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#buttons-container {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 4px;
  right: 12px;
}

#settingss,
#infoo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 3px;
}

#settingss:hover,
#infoo:hover {
  background-color: #d1d4dc;
}

#settingss {
  padding-top: 2px;
}
